html, body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
* {
  box-sizing: border-box;
}
/* ------------------------------- */


@font-face {
   font-family: "Sofia";
   src: url("fonts/Sofia.woff") format("woff");
   font-weight: 400;
}

@font-face {
   font-family: "Sofia";
   src: url("fonts/Sofia-Medium.woff") format("woff");
   font-weight: 500;
}

@font-face {
   font-family: "Sofia";
   src: url("fonts/Sofia-Bold.woff") format("woff");
   font-weight: 700;
}





.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #202020;
  color: #fff;
  padding: 80px;

  font-weight: italic;
}

.wrapper--alt {
  color: #202020;
  background-color: #fff;
} 

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
/*   margin-bottom: auto; */
}
.logo {
  font-size: 36px;
/*   extrabold */
  font-weight: 900; 

}
.switch {
  width: 26px;
  height: 26px;
  
  color: inherit;
  background-color: currentcolor;
  border: none;
  border-radius: 50%;
}
.footer {
  /*   margin-top: auto; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}
.footer__text {
/*   font-size: 200px; */
  font-size: 7.8125vw;
  line-height: 0.9;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Sofia";
}
.footer__line {

  
  /*   background-color: red; */
}
.nav {
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__item {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
}
.nav__item:last-of-type {
  margin-right: 0px;
}
.nav__link {
  font-size: 18px;
  
  /*   medium */
  font-weight: 500;

  color: inherit;
}
.nav__label {

}
.nav__label--mobile {
  display: none;
}
@media (max-width: 1100px) {
  .nav__list {
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
  }
  .nav__item {
    margin-right: 0;
    margin-bottom: 16px;
    /*background-color: red;*/
  }
  .nav__item:last-of-type {
    margin-bottom: 0px;
  }
  .footer__text {
    font-size: 9vw;
  }
  .wrapper {
    padding: 50px;
  }
}

@media (max-width: 1023px) {
  /*.wrapper {
    padding: 50px;
  }*/
  .footer__text {
    font-size: 12.8125vw;
  }
}
@media (max-width: 600px) {
  .wrapper {
    padding: 30px;
  }
  .footer {
    flex-direction: column-reverse;
    align-items: start;
  }
  .nav__list {
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 30px;
  }
  .nav__item {
    margin-right: 20px;
    margin-bottom: 0
  }
  .nav__link {
    position: relative;
    display: inline-block;

  }
  .nav__link:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37px;
    height: 37px;
  }
  .footer__text {
    font-size: 13vw;
  }

  .nav__label {
    display: none
  }
  .nav__label--mobile {
    display: inline;
  }
}
